fecha <- (seq (1950, 2000, by=10))
Y <- c(8.31, 10.39, 12.66, 14.81, 17.17, 19.27)
x<- (fecha-1950)/10

log_Y<- log10(Y)
y_logis <- 1/Y

S1_l <- sum(y_logis[1:2])
S2_l <-sum(y_logis[3:4])
S3_l <- sum(y_logis[5:6])

bcuad_l <- ((S3_l-S2_l)/(S2_l-S1_l))
sb <- sqrt(bcuad_l)
a <- (S2_l-S1_l)*(sb-1)/((bcuad_l-1)^2)
k <- (1/2)*(S1_l-((bcuad_l-1)/(sb-1))*a)

